page-p1-2 {
 .purple{
        position: absolute;
        padding: 0;
        border: 0;
        left: -190px;
        top: 559.5px;
        width: 740px;
        height: 740px;
    }

    .qlo{
        position: absolute;
        padding: 0;
        border: 0;
        left: 145.4688px;
        top: 617.4645px;
        width: 62.2813px;
        height: 27.5px;
    }

    .recommendW{
        position: absolute;
         padding: 0;
          border: 0;
          left: 32.5px;
          top: 124.375px;
          width: 107.4758px;
          height: 16.75px;
    }
    .text3{
        position: absolute;
        padding: 0;
          border: 0;
          left: 32.5px;
          top: 186.5625px;
          width: 302.4643px;
          height: 154px;
    }
    .text4{
        position: absolute;
       padding: 0;
          border: 0;
          left: 32.5px;
          top: 373.125px;
          width: 289.8368px;
          height: 63.75px;   
    }
    .button{
        position: absolute;
        padding: 0;
          border: 0;
          left: 109.1475px;
          top: 497.5px;
          width: 145.7205px;
          height: 145.7205px;
    }
            .recommendB{
        position:   absolute;
        padding:    0;
        border:     0;
        left:       32px;
        top:        124px; 
        width:      107px;
        height:     17px;
    }

    .category{
        position:   absolute;
        padding:    0;
        border:     0;
        left:       32px;
        top:        157px; 
        width:      197px;
        height:     35px;
        
    }
}
