page-tutorial {

     *{
       .scroll-content{
           overflow: hidden !important;
       }
       
    }
    .bg{
        position: absolute;
        padding: 0;
        border: 0;
        left: 0px;
        top: 0px;
        width: 360px;
        height: 740px;

    }

    .wc{
        position: absolute;
        padding: 0;
        border: 0;
        left: -370px;
        top: 0px;
        width: 740px;
    }
    
    .shadow{
        position: absolute;
        padding: 0;
        border: 0;
        left: -370px;
        top: 0px;
        width: 740px;
    }    
/////////////////
    .log_in{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 124.375px;
        width: 57.25px;
    } 
    
    .text_t2_00{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 186.6px;
        width: 236px;
    } 
    .text_t2_01{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 435px;
        width: 134px;
    } 
    .fingerprint{
        position: absolute;
        padding: 0;
        border: 0;
        left: 126px;
        top: 497.5px;
        width: 107px;
    }
    ////////////
    
     .TUTORIAL{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 132.75px;
        width: 73.5px;
    } 
    
    .T3_text1{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 200px;
        width: 262px;
    } 
    .T3_text2{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 400px;
        width: 125px;
    } 
    .fingerHigh{
        position: absolute;
        padding: 0;
        border: 0;
        left: 135px;
        top: 515px;
        width: 84.5px;
    }
    .navigator_1{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 650px;
        width: 68.75px;
    }

    ///////////
.maintext{
    position: absolute;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 186.5625px;
    width: 263.066px;
    height: 110.5px;

}

.text{
    position: absolute;
    border: 0;
    padding: 0;
    left: 32.5px;
    top: 373.0757px;
    width: 179.69675px;
    height: 40px;
}

.fingerC{
    position: absolute;
    border: 0;
    padding: 0;
    left: 71.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}

.dotC{
    position: absolute;
    border: 0;
    padding: 0;
    left: 200.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}
  .navigator_2{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 650px;
        width: 68.75px;
    }

///////

    .dottedcircle{
        position: fixed;
        padding: 0;
        border: 0;
        left: 137.75px;
        top: 564.693px;
        width: 84.61525px;
        height: 84.61525px;
        }


    .interbutton{
        position: absolute;
        padding: 0;
        border: 0;
        left: 137.75px;
        top: 455.376px;
        width: 84.61525px;
        height: 84.61525px;
    }

    .text2{
        position: fixed;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 186.5625px;
        width: 263.066px;
        height: 110.5px;
    }

    .text3{
        position: fixed;
        border: 0;
        padding: 0;
        left: 32.5px;
        top: 407.07575px;
        width: 179.69675px;
        height: 40px;
    }
  .navigator_3{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 650px;
        width: 68.75px;
    }
    
}