page-result2 {

    *{ 
        .scroll-content{
        overflow: hidden !important;
        }
    }

    .a{
        position:   absolute;
        padding:    0;
        border:     0;
        width:      360px;
        height:     740px;
        left:       0;
        top:        0; 
    }


}
