page-t4 {
 *{
       .scroll-content{
           overflow: hidden !important;
       }
       
    }
    .bg{
        position: absolute;
        padding: 0;
        border: 0;
        left: 0px;
        top: 0px;
        width: 360px;
        height: 740px;

    }

    .wc{
        position: absolute;
        padding: 0;
        border: 0;
        left: -370px;
        top: 0px;
        width: 740px;
    }
    
    .shadow{
        position: absolute;
        padding: 0;
        border: 0;
        left: -370px;
        top: 0px;
        width: 740px;
    }    

         .TUTORIAL{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 132.75px;
        width: 73.5px;
    } 
    
    
    .maintext{
    position: absolute;
    padding: 0;
    border: 0;
    left: 32.5px;
    top: 186.5625px;
    width: 263.066px;
    height: 110.5px;

}

.text{
    position: absolute;
    border: 0;
    padding: 0;
    left: 32.5px;
    top: 373.0757px;
    width: 179.69675px;
    height: 40px;
}

.fingerC{
    position: absolute;
    border: 0;
    padding: 0;
    left: 71.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}

.dotC{
    position: absolute;
    border: 0;
    padding: 0;
    left: 200.25px;
    top: 477.99225px;
    width: 84.61525px;
    height: 84.61525px;
}
  .navigator_2{
        position: absolute;
        padding: 0;
        border: 0;
        left: 32.5px;
        top: 650px;
        width: 68.75px;
    }
}
